
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 20px;
}

.chessboard {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 4px solid #000;
}

.chessboard div {
  width: 80px;
  height: 80px;
}



.black {
  background-color: #0d0d0c;
}
