body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  .chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 4px solid #333;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
  }
  
  .white {
    background-color: #f0d9b5;
  }
  
  .black {
    background-color: #b58863;
  }
  
  .white-piece {
    color: #ffffff;
  }
  
  .black-piece {
    color: #101010;
  }
  